/* lora-regular - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lora/lora-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lora'), local('Lora-Regular'),
       url('../fonts/lora/lora-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lora/lora-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lora/lora-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lora/lora-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lora/lora-v9-latin-regular.svg#Lora') format('svg'); /* Legacy iOS */
}