::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track {
	background-color: white;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 1px;
}
::-webkit-scrollbar-thumb {
	background-color: #001720;
	opacity: 0.2;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body {
	font-size: 15px;
	background-color: #eceff1;
}
#spinner {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/page-loader.webp') 50% 50% no-repeat rgb(249,249,249);
}
#titlediv{
	padding: 0;
}
.drag-target{
	top:53px;
	width:48px;
}
.modal{
	font-family: 'Lato', sans-serif;
	background-color: #eceff1;
}
.modal .modal-footer{
	background-color: #eceff1;
}
#topmsg{
	font-size:3em;
	text-shadow: 1px 1px 1px #222;
	margin-bottom:0; 
}
.headline{
	height: 4px;
	width:20%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
}
#cologo{
	margin-top:5%;
	font-family: 'Open Sans',sans-serif;
	font-weight:bold;
	color:white;
	font-size:4.4em;
	text-shadow: 3px 3px 3px #222;
}
#cologo2{
	margin-top:2%;
	font-family: 'Lato',sans-serif;
	font-weight:bold;
	color:black;
	font-size:210%;
	text-shadow: 1px 1px 1px #111;
}
.container{
	padding-left: 2%;
	padding-right: 2%;
	width:100%;
}
#mainpic
{
	width:100%;
	background: url(../images/124.webp) no-repeat center;
	opacity:0.8; 
	background-size:cover;
}
#mynav, .navbar-fixed
{
	height: 53px;
}
.nav-wrapper{
	background: #001720;
	/*text-align: center;
	border-bottom: 5px solid #333333;*/
	/*box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16), 0 3px 5px 0 rgba(0, 0, 0, 0.12);*/
}
.pred{
	width:100%;
	background-color:#001720;
	height:10%;
	padding-top:1px;
    padding-bottom: 2px;
}
.pred h4{
	margin-top:0.912rem;
}
.forum{
	background-color:#001720;
	color:white;
	text-align:center;
	padding-bottom: 20px;
	padding-top: 20px;
}
.news{
	width:100%;
	background-color:#ffa000  ;
	color:black;
	text-align:center;
	padding-bottom: 1px;
	padding-top: 10px;
}
p label{
	color:#000;
}
#ftt{
	background-color: #001720;
}
.dataTables_wrapper .dataTables_filter {
	float: left; 
	text-align: left;}
.slabel{
	font-size: 1.1em;
}
footer.page-footer {
	margin-top: 0;
	padding-top: 20px;
}
.card{
	height: 620px;
	position: relative;
}
.card.newscard{
	height :300px;
	background-color: #263238;
}
.card{
	box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.16), 0 5px 6px 0 rgba(0, 0, 0, 0.12);
}
a.waves-effect.waves-light.btn {
	margin:0;
}
.card .card-action{
	position:absolute;
	bottom: 0;
	left:0;
	right:0;
}
.tyd{
	height:300px;
}
.error{
	color:red;
}
.parallax-container{
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	padding: 40px 0;
	height: 25%;
}
.tabs .tab a{
	color:#001720;
}
.tabs .tab a.active{
	background-color:#001720;
	font-size:1.25em;
	color:white;
}
.tabs .tab a:hover{
	color:#B3CAD3;
}
.tabs .tab a:hover{
	color:#000;
}
.tabs .tab a.active:hover{
	color:#B3CAD3;
}
.tabs .indicator{
	background-color:#ffa000;
}
#insti, #branch {
	color: #000;
}
.questions{
	padding: 2%;
}
.btn-floating.btn-large{
	background-color:#4D646D;
}
.btn-floating{
	background-color:#7F969F;
}
.btn,.btn-flat{
	background-color:#001720;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating){
	transition:background-color 0.5s ease;
	-webkit-transition:background-color 0.5s ease;
}
.newscard .card-action a:not(.btn):not(.btn-large):not(.btn-floating){
	transition: color 0.5s ease;
	-webkit-transition: color 0.5s ease;
}
.btn:hover, .btn-flat:hover{
	background-color:#334A53;
}
.fixed-action-btn{
	position:fixed;
	bottom: 2%; 
	right: 1%;
}
.dataTables_wrapper .dataTables_filter input {
	margin-left: 0;
}
footer a{
	color: #7F969F;
	transition:color 0.5s ease;
	-webkit-transition:color 0.5s ease;
}
footer a:hover{
	color: #fff;
}
.linkdivider{
	border-left:1px solid #7F969F;
}
.footer-copyright a{
	margin-left:15px;
	margin-right:15px;
}
#reg a.modal-trigger,#log a.modal-trigger{
	color:#039be5;
	transition: color 0.5s ease;
	-webkit-transition:color 0.5s ease;
}
#reg a.modal-trigger:hover,#log a.modal-trigger:hover{
	color:#004F99;
}
textarea.materialize-textarea:focus:not([readonly]),.input-field input[type=text]:focus,.input-field input[type=email]:focus,.input-field input[type=password]:focus, .input-field input[type=number]:focus{
	border-bottom: 1px solid #ffa000;
	box-shadow: 0 1px 0 0 #FFBA1A;
}
.input-field .prefix.active ,.input-field input[type=text]:focus + label,textarea.materialize-textarea:focus:not([readonly]) + label,.input-field input[type=email]:focus + label,.input-field input[type=password]:focus + label, .input-field input[type=number]:focus + label{
	color: #ffa000;
}
.dropdown-content li>span{
	color: #001720;
}
[type="checkbox"]:checked+label:before{
	border-right: 2px solid #ffa000;
	border-bottom: 2px solid #ffa000;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after{
	background-color:#ffa000;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after{
	border: 2px solid #ffa000;
}
#res:hover{
	background-color:#ef9a9a !important;
}
/*Large devices*/
@media only screen and (min-width : 993px) {
	.nav-wrapper ul a{
	font-size: 1.1rem;
	transition: border-bottom 0.08s linear;
	-webkit-transition:border-bottom 0.08s linear;
	transition: color 0.2s ease;
	-webkit-transition:color 0.2s ease;
	}
	.nav-wrapper ul a:hover{
	border-bottom: 3px solid #ffa000;
	background-color:#001720;
	color: #B3CAD3;
	}
	.nav-wrapper ul li a{
		width: 150px;
		line-height: 2.25;
		text-align: center;
	}
	#brandname{
		position: absolute;
		left:120%;
		bottom: 12px;
		font-family: 'Lato',sans-serif;
	}
	#reg,#log{
		width:40%;
	}
	#mainpic{
		padding-bottom:30%;
	}
}
/*medium device*/
@media only screen and (min-width: 600px) and (max-width: 992px) {
	#mainpic{
		padding-bottom:30%;
	}
}
/*small device*/
@media only screen and (max-width : 600px) {
	#mainpic{
		padding-bottom:400px;
	}
}